<nav class="main-navigation nav-loading">
  <ul>
    {% assign mainMenu = section.settings.nav_linklist %}
    {%- comment %}<locksmith:c252>{% endcomment -%}
      {%- assign locksmith_eb63_forloop__size = 0 %}{% for link in linklists[mainMenu].links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[mainMenu], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_eb63_forloop__size = locksmith_eb63_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_eb63_forloop__index = nil -%}
    {%- comment %}</locksmith:c252>{% endcomment -%}
    {% for link in linklists[mainMenu].links %}
      {%- comment %}<locksmith:28ad>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[mainMenu], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_eb63_forloop__index == nil %}{% assign locksmith_eb63_forloop__index = 1 %}{% assign locksmith_eb63_forloop__index0 = 0 %}{% else %}{% assign locksmith_eb63_forloop__index = locksmith_eb63_forloop__index | plus: 1 %}{% assign locksmith_eb63_forloop__index0 = locksmith_eb63_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_eb63_forloop__index == 1 %}{% assign locksmith_eb63_forloop__first = true %}{% else %}{% assign locksmith_eb63_forloop__first = false %}{% endif %}{% if locksmith_eb63_forloop__index == locksmith_eb63_forloop__size %}{% assign locksmith_eb63_forloop__last = true %}{% else %}{% assign locksmith_eb63_forloop__last = false %}{% endif %}{% assign locksmith_eb63_forloop__rindex = locksmith_eb63_forloop__size | minus: locksmith_eb63_forloop__index | minus: 1 %}{% assign locksmith_eb63_forloop__rindex0 = locksmith_eb63_forloop__size | minus: locksmith_eb63_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:28ad>{% endcomment -%}
      {% assign linkHandle = link.title | handle %}

      {% assign hasChildren = false %}
      {% if linklists[linkHandle].links.size > 0 %}
        {% assign hasChildren = true %}
      {% endif %}

      <li class="{% if hasChildren %}has-dropdown{% endif %}">
        <a href="{{ link.url }}" data-navigation-top-level>
          {{ link.title }}
          {% if hasChildren %}<svg><use xlink:href="#icon-dropdown"></use></svg>{% endif %}
        </a>

        {% if hasChildren %}
          {% assign count = 0 %}

          {% if linklists[linkHandle] == linklists[section.settings.catalog_menu] %}
            <div class="dropdown catalog-menu">
              <ul>
                {%- comment %}<locksmith:58f1>{% endcomment -%}
                  {%- assign locksmith_99b7_forloop__size = 0 %}{% for link in linklists[linkHandle].links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[linkHandle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_99b7_forloop__size = locksmith_99b7_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_99b7_forloop__index = nil -%}
                {%- comment %}</locksmith:58f1>{% endcomment -%}
                {% for link in linklists[linkHandle].links %}
                  {%- comment %}<locksmith:519f>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[linkHandle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_99b7_forloop__index == nil %}{% assign locksmith_99b7_forloop__index = 1 %}{% assign locksmith_99b7_forloop__index0 = 0 %}{% else %}{% assign locksmith_99b7_forloop__index = locksmith_99b7_forloop__index | plus: 1 %}{% assign locksmith_99b7_forloop__index0 = locksmith_99b7_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_99b7_forloop__index == 1 %}{% assign locksmith_99b7_forloop__first = true %}{% else %}{% assign locksmith_99b7_forloop__first = false %}{% endif %}{% if locksmith_99b7_forloop__index == locksmith_99b7_forloop__size %}{% assign locksmith_99b7_forloop__last = true %}{% else %}{% assign locksmith_99b7_forloop__last = false %}{% endif %}{% assign locksmith_99b7_forloop__rindex = locksmith_99b7_forloop__size | minus: locksmith_99b7_forloop__index | minus: 1 %}{% assign locksmith_99b7_forloop__rindex0 = locksmith_99b7_forloop__size | minus: locksmith_99b7_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:519f>{% endcomment -%}
                  <li class="animation-sequence-{{ count }}" data-index="{{ locksmith_99b7_forloop__index0 }}">
                    {{ link.title | link_to: link.url }}
                  </li>
                  {% assign count = count | plus: 1 %}
                {% endfor %}
              </ul>

              <div class="catalog-menu-image-container">
                {% if section.settings.catalog_menu_image != blank %}
                  <img src="{{ section.settings.catalog_menu_image | img_url: '400x', scale: 2 }}" class="catalog-menu-default-image" />
                {% endif %}
                {%- comment %}<locksmith:7953>{% endcomment -%}
                  {%- assign locksmith_a82d_forloop__size = 0 %}{% for link in linklists[linkHandle].links %}{% capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[linkHandle], variable: 'transparent' %}{% endcapture %}{% if var == 'true' %}{% assign locksmith_a82d_forloop__size = locksmith_a82d_forloop__size | plus: 1 %}{% endif %}{% endfor %}{% assign locksmith_a82d_forloop__index = nil -%}
                {%- comment %}</locksmith:7953>{% endcomment -%}
                {% for link in linklists[linkHandle].links %}
                  {%- comment %}<locksmith:888d>{% endcomment -%}
                    {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[linkHandle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% if locksmith_a82d_forloop__index == nil %}{% assign locksmith_a82d_forloop__index = 1 %}{% assign locksmith_a82d_forloop__index0 = 0 %}{% else %}{% assign locksmith_a82d_forloop__index = locksmith_a82d_forloop__index | plus: 1 %}{% assign locksmith_a82d_forloop__index0 = locksmith_a82d_forloop__index0 | plus: 1 %}{% endif %}{% if locksmith_a82d_forloop__index == 1 %}{% assign locksmith_a82d_forloop__first = true %}{% else %}{% assign locksmith_a82d_forloop__first = false %}{% endif %}{% if locksmith_a82d_forloop__index == locksmith_a82d_forloop__size %}{% assign locksmith_a82d_forloop__last = true %}{% else %}{% assign locksmith_a82d_forloop__last = false %}{% endif %}{% assign locksmith_a82d_forloop__rindex = locksmith_a82d_forloop__size | minus: locksmith_a82d_forloop__index | minus: 1 %}{% assign locksmith_a82d_forloop__rindex0 = locksmith_a82d_forloop__size | minus: locksmith_a82d_forloop__index0 | minus: 1 %}{% else %}{% continue %}{% endif -%}
                  {%- comment %}</locksmith:888d>{% endcomment -%}
                  {% if link.type == "collection_link" %}
                    {% assign collection = link.object %}
                    {% assign image = collection.image | default: collection.products.first.featured_image %}

                    {% if image != blank %}
                      <img src="{{ image | img_url: '400x', scale: 2 }}" class="catalog-menu-collection-image" data-index="{{ locksmith_a82d_forloop__index0 }}" />
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% else %}
            <ul class="dropdown">
              {% for link in linklists[linkHandle].links %}
                {%- comment %}<locksmith:0acc>{% endcomment -%}
                  {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: link, subject_parent: linklists[linkHandle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
                {%- comment %}</locksmith:0acc>{% endcomment -%}
                <li class="animation-sequence-{{ count }}">{{ link.title | link_to: link.url }}</li>
                {% assign count = count | plus: 1 %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </li>

    {% endfor %}
  </ul>
</nav>
